#edit-field-date-range-wrapper .container-inline{padding:0 20px; float:left;}
#edit-field-date-range-wrapper h4{padding-top:10px; float:left;}
form label{float:left; padding-right:20px;}

.adminimal .toolbar-tray a{color:#000;}
#toolbar-administration ul ul,#toolbar-administration ul a{background-color:#FFF; color:#000;}
#edit-field-image-wrapper br, #edit-field-attached-wrapper br{float:left;}